.enbuyuk-baslik {
    font-size: 46pt;
    font-style: bold;
    color: yellowgreen;
    margin-top: 30px;
    margin-left: 850px;
}
.altbaslik {
    font-size: 30pt;
    margin-left: 200px;
}

.paragraf {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 10cm;
}
.liste-film {
    font-size: 24pt;
    font-style: italic;
    color: chocolate;
    margin-left: 200px;
    margin-bottom: 0.5cm;
} 

.resim {
    margin-left: 50px;
    border-style:dashed;
    border-color: blue;
    border-radius: 2cm;
    border-top-right-radius: 4cm;
    margin-bottom: 1cm;
}